<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><strong>Quản lý nhu cầu</strong></h1>
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid" id="main-container">
    <div class="card">
      <div class="card-header">
        <form #addForm="ngForm" (ngSubmit)="onAddDemand(addForm)">
          <div class="input-group">
            <input type="text" name="name" placeholder="Nhập tên nhu cầu mới" required class="form-control" ngModel />
            <div class="input-group-append">
              <button class="btn btn-success float-right" [disabled]="addForm.invalid" type="submit" title="Thêm mới">
                <i class="fas fa-plus"></i> Thêm mới
              </button>
            </div>
          </div>
        </form>
      </div>
      <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
      <div *ngIf="!showSpinner" class="card-body table-responsive p-0">
        <table *ngIf="demands" class="table table-hover text-nowrap">
          <thead>
            <tr class="bg-dark">
              <th style="min-width: 60px; width: 60px;">#</th>
              <th style="min-width: 200px">Tên nhu cầu</th>
              <th style="min-width: 150px; width: 150px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let demand of demands">
              <td>{{ demand?.id }}.</td>
              <td>{{ demand?.name }}</td>
              <td class="text-center align-middle">
                <div class="btn-group">
                  <button class="btn btn-primary text-white" (click)="onOpenModal(demand, 'edit')" title="Chỉnh Sửa">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-danger text-white" (click)="onOpenModal(demand, 'delete')" title="Xoá">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="!demands" class="text-center align-middle">Chưa có nhu cầu nào!</h4>
      </div>
    </div>
  </div>
</section>

<!-- Edit Demand Modal -->
<div class="modal fade" id="updateDemandModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #editForm="ngForm" (ngSubmit)="onUpdateDemand(editForm.value)">
        <div class="modal-header bg-dark">
          <h5 class="modal-title"><strong>Chỉnh sửa nhu cầu</strong></h5>
          <button type="button" class="close" (click)="appService.hideModal('updateDemandModal')" aria-label="Close">
            <span aria-hidden="true" class="text-white">&times;</span>
          </button>
        </div>
        <app-loading-overlay *ngIf="showOverlay"></app-loading-overlay>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Tên nhu cầu</label>
            <input type="text" ngModel="{{editDemand?.name}}" name="name" class="form-control" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editDemand?.id}}" name="id" class="form-control">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Demand Modal -->
<div class="modal fade" id="deleteDemandModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title"><strong>Xoá nhu cầu</strong></h5>
        <button type="button" class="close" (click)="appService.hideModal('updateDemandModal')" aria-label="Close">
          <span aria-hidden="true" class="text-white">&times;</span>
        </button>
      </div>
      <app-loading-overlay *ngIf="showOverlay"></app-loading-overlay>
      <div class="modal-body">
        <p>Bạn có chắc muốn xoá nhu cầu: {{deleteDemand?.name}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="appService.hideModal('updateDemandModal')">No</button>
        <button class="btn btn-danger" (click)="onDeleteDemand(deleteDemand?.id!)">Yes</button>
      </div>
    </div>
  </div>
</div>
